body{
    background-image:url(/assets/images/background.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    /* background-color:black; */
}


.sidebar {
    height:600px;
}

.container{
    width:100%;
    margin-top:1%;
}

.map-container{
    height:600px;
}

.btn{
    margin-left:50%;
    height:50%;
}

.search-bar{
    margin-left:25%;
}

.fas fa-search{
    
}

.flow-text{
    margin-right: 10px;
}

.title-text{
    font-size:36px;
    font-family: 'Exo', sans-serif;
}